@model Art_Gallery.Models.AuctionDetails

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AuctionDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product" class="control-label"></label>
                <input asp-for="Product" class="form-control" />
                <span asp-validation-for="Product" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="User" class="control-label"></label>
                <input asp-for="User" class="form-control" />
                <span asp-validation-for="User" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="bidamount" class="control-label"></label>
                <input asp-for="bidamount" class="form-control" />
                <span asp-validation-for="bidamount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="bidstatus" class="control-label"></label>
                <input asp-for="bidstatus" class="form-control" />
                <span asp-validation-for="bidstatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
