@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
	Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<!-- start banner Area -->
<section class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Art Gallery
				</h1>
				<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="gallery.html"> Gallery</a></p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->
<!-- Start gallery Area -->
<section class="gallery-area section-gap gallery-page-area" id="gallery">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Our Exhibition Gallery</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
				</div>
			</div>
		</div>
		<div id="grid-container" class="row">
			<a class="single-gallery" href="~/User/img/g1.jpg"><img class="grid-item" src="~/User/img/g1.jpg"></a>
			<a class="single-gallery" href="~/User/img/g2.jpg"><img class="grid-item" src="~/User/img/g2.jpg"></a>
			<a class="single-gallery" href="~/User/img/g3.jpg"><img class="grid-item" src="~/User/img/g3.jpg"></a>
			<a class="single-gallery" href="~/User/img/g4.jpg"><img class="grid-item" src="~/User/img/g4.jpg"></a>
			<a class="single-gallery" href="~/User/img/g5.jpg"><img class="grid-item" src="~/User/img/g5.jpg"></a>
			<a class="single-gallery" href="~/User/img/g6.jpg"><img class="grid-item" src="~/User/img/g6.jpg"></a>
			<a class="single-gallery" href="~/User/img/g7.jpg"><img class="grid-item" src="~/User/img/g7.jpg"></a>
			<a class="single-gallery" href="~/User/img/g8.jpg"><img class="grid-item" src="~/User/img/g8.jpg"></a>
			<a class="single-gallery" href="~/User/img/g9.jpg"><img class="grid-item" src="~/User/img/g9.jpg"></a>
			<a class="single-gallery" href="~/User/img/g10.jpg"><img class="grid-item" src="~/User/img/g10.jpg"></a>
			<a class="single-gallery" href="~/User/img/g11.jpg"><img class="grid-item" src="~/User/img/g11.jpg"></a>
			<a class="single-gallery" href="~/User/img/g12.jpg"><img class="grid-item" src="~/User/img/g12.jpg"></a>
			<a class="single-gallery" href="~/User/img/g4.jpg"><img class="grid-item" src="~/User/img/g4.jpg"></a>
			<a class="single-gallery" href="~/User/img/g5.jpg"><img class="grid-item" src="~/User/img/g5.jpg"></a>
		</div>
	</div>
</section>
<!-- End gallery Area -->
<!-- Start blog Area -->
<section class="blog-area section-gap" id="blog">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Latest From Our Blog</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6 single-blog">
				<div class="thumb">
					<img class="img-fluid" src="~/User/img/b1.jpg" alt="">
				</div>
				<p class="date">10 Jan 2018</p>
				<a href="#">
					<h4>
						Addiction When Gambling
						Becomes A Problem
					</h4>
				</a>
				<p>
					inappropriate behavior ipsum dolor sit amet, consectetur.
				</p>
				<div class="meta-bottom d-flex justify-content-between">
					<p><span class="lnr lnr-heart"></span> 15 Likes</p>
					<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 single-blog">
				<div class="thumb">
					<img class="img-fluid" src="~/User/img/b2.jpg" alt="">
				</div>
				<p class="date">10 Jan 2018</p>
				<a href="#">
					<h4>
						Addiction When Gambling
						Becomes A Problem
					</h4>
				</a>
				<p>
					inappropriate behavior ipsum dolor sit amet, consectetur.
				</p>
				<div class="meta-bottom d-flex justify-content-between">
					<p><span class="lnr lnr-heart"></span> 15 Likes</p>
					<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 single-blog">
				<div class="thumb">
					<img class="img-fluid" src="~/User/img/b3.jpg" alt="">
				</div>
				<p class="date">10 Jan 2018</p>
				<a href="#">
					<h4>
						Addiction When Gambling
						Becomes A Problem
					</h4>
				</a>
				<p>
					inappropriate behavior ipsum dolor sit amet, consectetur.
				</p>
				<div class="meta-bottom d-flex justify-content-between">
					<p><span class="lnr lnr-heart"></span> 15 Likes</p>
					<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 single-blog">
				<div class="thumb">
					<img class="img-fluid" src="~/User/img/b4.jpg" alt="">
				</div>
				<p class="date">10 Jan 2018</p>
				<a href="#">
					<h4>
						Addiction When Gambling
						Becomes A Problem
					</h4>
				</a>
				<p>
					inappropriate behavior ipsum dolor sit amet, consectetur.
				</p>
				<div class="meta-bottom d-flex justify-content-between">
					<p><span class="lnr lnr-heart"></span> 15 Likes</p>
					<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End blog Area -->