@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
	Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<!-- start banner Area -->
<section class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Buy Tickets
				</h1>
				<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="ticket.html"> Tickets</a></p>
			</div>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->
<!-- Start upcoming-exibition Area -->
<section class="upcoming-exibition-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Ongoing Exhibitions from the scratch</h1>
					<p>Who are in extremely love with eco friendly system.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 single-exhibition">
				<div class="thumb">
					<img class="img-fluid" src="~/User/img/pages/ex1.jpg" alt="">
				</div>
				<p class="date">10 Jan 2018</p>
				<a href="#"><h4>Blind Artist Draws Colorful Paintings</h4></a>
				<p>
					Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod tempor.
				</p>
				<div class="meta-bottom d-flex justify-content-start">
					<p class="price">$45.00</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 single-exhibition">
				<div class="thumb">
					<img class="img-fluid" src="~/User/img/pages/ex2.jpg" alt="">
				</div>
				<p class="date">10 Jan 2018</p>
				<a href="#"><h4>Blind Artist Draws Colorful Paintings</h4></a>
				<p>
					Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod tempor.
				</p>
				<div class="meta-bottom d-flex justify-content-start">
					<p class="price">$45.00</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 single-exhibition">
				<div class="thumb">
					<img class="img-fluid" src="~/User/img/pages/ex3.jpg" alt="">
				</div>
				<p class="date">10 Jan 2018</p>
				<a href="#"><h4>Blind Artist Draws Colorful Paintings</h4></a>
				<p>
					Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod tempor.
				</p>
				<div class="meta-bottom d-flex justify-content-start">
					<p class="price">$45.00</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 single-exhibition">
				<div class="thumb">
					<img class="img-fluid" src="~/User/img/pages/ex4.jpg" alt="">
				</div>
				<p class="date">10 Jan 2018</p>
				<a href="#"><h4>Blind Artist Draws Colorful Paintings</h4></a>
				<p>
					Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod tempor.
				</p>
				<div class="meta-bottom d-flex justify-content-start">
					<p class="price">$45.00</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 single-exhibition">
				<div class="thumb">
					<img class="img-fluid" src="~/User/img/pages/ex5.jpg" alt="">
				</div>
				<p class="date">10 Jan 2018</p>
				<a href="#"><h4>Blind Artist Draws Colorful Paintings</h4></a>
				<p>
					Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod tempor.
				</p>
				<div class="meta-bottom d-flex justify-content-start">
					<p class="price">$45.00</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 single-exhibition">
				<div class="thumb">
					<img class="img-fluid" src="~/User/img/pages/ex6.jpg" alt="">
				</div>
				<p class="date">10 Jan 2018</p>
				<a href="#"><h4>Blind Artist Draws Colorful Paintings</h4></a>
				<p>
					Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod tempor.
				</p>
				<div class="meta-bottom d-flex justify-content-start">
					<p class="price">$45.00</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End upcoming-exibition Area -->
<!-- Start blog Area -->
<section class="blog-area section-gap" id="blog">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Latest From Our Blog</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6 single-blog">
				<div class="thumb">
					<img class="img-fluid" src="~/User/img/b1.jpg" alt="">
				</div>
				<p class="date">10 Jan 2018</p>
				<a href="#">
					<h4>
						Addiction When Gambling
						Becomes A Problem
					</h4>
				</a>
				<p>
					inappropriate behavior ipsum dolor sit amet, consectetur.
				</p>
				<div class="meta-bottom d-flex justify-content-between">
					<p><span class="lnr lnr-heart"></span> 15 Likes</p>
					<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 single-blog">
				<div class="thumb">
					<img class="img-fluid" src="~/User/img/b2.jpg" alt="">
				</div>
				<p class="date">10 Jan 2018</p>
				<a href="#">
					<h4>
						Addiction When Gambling
						Becomes A Problem
					</h4>
				</a>
				<p>
					inappropriate behavior ipsum dolor sit amet, consectetur.
				</p>
				<div class="meta-bottom d-flex justify-content-between">
					<p><span class="lnr lnr-heart"></span> 15 Likes</p>
					<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 single-blog">
				<div class="thumb">
					<img class="img-fluid" src="~/User/img/b3.jpg" alt="">
				</div>
				<p class="date">10 Jan 2018</p>
				<a href="#">
					<h4>
						Addiction When Gambling
						Becomes A Problem
					</h4>
				</a>
				<p>
					inappropriate behavior ipsum dolor sit amet, consectetur.
				</p>
				<div class="meta-bottom d-flex justify-content-between">
					<p><span class="lnr lnr-heart"></span> 15 Likes</p>
					<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 single-blog">
				<div class="thumb">
					<img class="img-fluid" src="~/User/img/b4.jpg" alt="">
				</div>
				<p class="date">10 Jan 2018</p>
				<a href="#">
					<h4>
						Addiction When Gambling
						Becomes A Problem
					</h4>
				</a>
				<p>
					inappropriate behavior ipsum dolor sit amet, consectetur.
				</p>
				<div class="meta-bottom d-flex justify-content-between">
					<p><span class="lnr lnr-heart"></span> 15 Likes</p>
					<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End blog Area -->